# Hide decompiled code for legal reasons.
craftboid/

# Hide all build files.
build/

# IntelliJ IDEA
.idea/
*.iml

# Gradle
.gradle/
gradle/
gradlew
gradlew.bar
gradlew.bat

# Project Zomboid
lib/*.*

# Craftboid exclusion
!lib/craftboid/

# Compiles JARs from Gradle subprojects.
/bin/

# All distributed class files goes here.
_dist/client
_dist/server
