# Hide all build files.
build/

# IntelliJ IDEA
.idea/
*.iml

# Gradle
.gradle/
gradle/
gradlew
gradlew.bar
gradlew.bat

# Project Zomboid
lib/*.*

# CraftHammer exclusion
!lib/crafthammer/

# Compiles JARs from Gradle subprojects.
/bin/
